{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Incidents</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        <table>
          <tr>
            <th>ID </th>
            <th>Date </th>
            <th>User ID </th>
            <th>User Comments </th>
            <th>Admin Notes</th>
            <th>Status</th>
          </tr>
          <tr>
            <td>{{ note.id }}</td>
            <td>{{ note.date}}</td>
            <td>{{ note.user_id }}</td>
            <td>{{ note.data }}</td>
            <td>{{ note.admin_notes }}</td>
            <td>{{ note.status }}</td>
          </tr>
        </table>
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
    {% endblock %}